body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-align: center;
}

.container {
    border: 5px solid #5e5e5e;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;
}

#time-display {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
}

input[type="number"] {
    padding: 5px;
    margin: 10px 0;
    width: 100px;
    border-radius: 8px;
    border: 3px solid #898787;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: rgb(51, 162, 51);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(218, 58, 58);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#message {
    font-size: 1em;
    color:  rgb(241, 97, 97);
    font-family: 'Poppins', sans-serif;
    height: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    text-align: center;
}
